{% if page.comments %}
<div id="fb-comment-button">
        <a href="#" onclick="comments();return false;"><i class="el el-group"></i> Laat Facebook opmerkingen zien</a>
</div>

<script type="text/javascript">
function comments() {
    var comments_loaded = false;
    if (!comments_loaded) {
        comments_loaded = true;
        var e0 = document.getElementById('fb-comment-button');
        e0.removeChild(e0.childNodes[0]);
        e0.removeChild(e0.childNodes[0]);
        var e1 = document.createElement('div');
        e1.className = "fb-comments";
        e1.setAttribute("data-colorscheme", "dark");
        e1.setAttribute("data-width", "100%");
        e1.setAttribute("data-href", "{{ site.url }}{{ site.baseurl}}/{{ page.url }}");
        e1.setAttribute("data-numposts","5");
        e0.appendChild(e1);
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId            : '357303517810888',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.12'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/nl_NL/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
}

</script>
{% endif %}
