
        <div class="row"  style="background-color: #530720; padding-bottom: 40px; margin-top: 50px; margin-bottom: 80px;">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <center><h4><p>GRATIS UPDATES, EN NIET MEER DAN VIER! :-) </h4></center>


	  <form action="{{ site.mailchimp.account }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" 
   style="padding:3px;text-align:center;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;" >
			<input type="email" value="" placeholder="Je emailadres" name="EMAIL" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off" style="width:200px;height:30px;border:0;background-color:#5A0F28;color:#dddddd;outline:0;padding-left:12px;">&nbsp; &nbsp;
			   <input type="submit" value="Ik wil!" class="newsletter__submit" name="subscribe" id="Subscribe" style="background-color:#470118;color:#dddddd;height:30px;border:0;" />
			   </input>
	  </form>

      <!--
<form 
   style="padding:3px;text-align:center;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;" 
   action="{{ site.mailchimp.account }}" 
   method="post" target="popupwindow" 
   onsubmit="window.open('https://tinyletter.com/yourproject', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
   <input type="text" placeholder="Je emailadres"  style="width:200px;height:30px;border:0;background-color:#5A0F28;color:#dddddd;outline:0;padding-left:12px;" name="email" id="tlemail" />&nbsp; &nbsp; 
   <input type="submit" value="Ik wil!" style="background-color:#470118;color:#dddddd;height:30px;border:0;" />
</form>
      -->
            </div>
        </div>
     
<style type="text/css">
        .tlemail::-webkit-input-placeholder {
   color: rgba(255,255,255,.45);
}
       .tlemail:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,.45);  
}

      .tlemail::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,.45);  
}

      .tlemail:-ms-input-placeholder {  
   color: rgba(255,255,255,.45);  
}
    </style>
